@{
    Layout = "_LayoutAdmin";
}
<h1>Admin</h1>
<div class="container position-relative" style="height: 400px;">
    <!-- Imagen superior izquierda -->
    <div class="position-absolute top-0 start-0 p-2" style="width: 80px; height: 80px;">
        <img src="~/images/llanta.jpg" class="img-fluid img-thumbnail" alt="Imagen 1">
    </div>
    <!-- Imagen superior derecha -->
    <div class="position-absolute top-0 end-0 p-2" style="width: 80px; height: 80px;">
        <img src="~/images/llanta.jpg" class="img-fluid img-thumbnail" alt="Imagen 2">
    </div>
    <!-- Imagen inferior izquierda -->
    <div class="position-absolute bottom-0 start-0 p-2" style="width: 80px; height: 80px;">
        <img src="~/images/llanta.jpg" class="img-fluid img-thumbnail" alt="Imagen 3">
    </div>
    <!-- Imagen inferior derecha -->
    <div class="position-absolute bottom-0 end-0 p-2" style="width: 80px; height: 80px;">
        <img src="~/images/llanta.jpg" class="img-fluid img-thumbnail" alt="Imagen 4">
    </div>
</div>
