@{
    Layout = "_LayoutAdmin";
}
<!-- Contenido principal -->
<main class="container my-4">
    <div class="row g-4">
        <!-- Consultar Autopartes -->
        <div class="col-md-6">
            <div class="card text-center">
                <img src="~/images/car.jpg" class="card-img-top" alt="Consultar Autopartes">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">CONSULTAR AUTOPARTES</h5>
                </div>
            </div>
        </div>
        <!-- Autopartes -->
        <div class="col-md-6">
            <div class="card text-center">
                <img src="~/images/car-parts.jpg" class="card-img-top" alt="Autopartes">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">AUTOPARTES</h5>
                </div>
            </div>
        </div>
        <!-- Flujo de Autopartes -->
        <div class="col-md-6">
            <div class="card text-center">
                <div class="row g-0">
                    <div class="col-6">
                        <img src="~/images/entradas.jpg" class="img-fluid" alt="Entradas">
                    </div>
                    <div class="col-6">
                        <img src="~/images/salidas.jpg" class="img-fluid" alt="Salidas">
                    </div>
                </div>
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">FLUJO DE AUTOPARTES</h5>
                </div>
            </div>
        </div>
        <!-- Reportes -->
        <div class="col-md-6">
            <div class="card text-center">
                <img src="~/images/reports.jpg" class="card-img-top" alt="Reportes">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">REPORTES</h5>
                </div>
            </div>
        </div>
    </div>
</main>