@{
    ViewBag.Title = "Servicios";
    ViewBag.FullWidthLayout = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Marimon.Models.Servicio>
<style>
    .container {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box !important;
    }

    .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding: 0 45px;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        width: 256px;
        height: 280px;
        margin: 0 15px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .arrows {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);
        transform: translateY(-50%);
    }

    .arrows button {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn {
        display: flex;
        color: #000000;
        font-size: 26px;
        padding: 0.25rem 0.5rem;
    }
</style>

<body>
<div style="padding-top: 20px;">
    <div class="container-fluid d-flex align-items-center"
        style="background: #000000; padding: 10px; margin: 0; border-radius: 0;">
        <div class="row w-100">
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="padding: 0;">
                <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fservicios-marimon-02.jpg?alt=media&amp;token=c82b9eac-83e4-42e6-aae0-814d5cc6bc45.png"
                    alt="Servicios Marimon" class="img-fluid" style="border-radius: 0; height:80%;">
            </div>
            <div class="col-md-6 d-flex align-items-center"
                style="padding-left: 10px; border-left: 5px solid white; margin-top: 10px;">
                <div>
                    <h2 class="fw-bold text-white">Hola somos Marimon y
                        traemos las mejores soluciones a sus vehículos</h2>
                    <p class="text-white mb-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus
                        sapien, risus donec ad fusce augue interdum.</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-light btn-sm fw-bold rounded-pill" href="#">Ver servicios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="container-xxl py-4 py-xl-5 pb-xxl-5">
        <div class="row gx-0 gy-0 justify-content-start align-items-start mb-5">
            <div class="col">
                <h2>¿Cual es nuestro Procedimiento?</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col-md-3 col-lg-4 align-content-center">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <h4 class="text-end d-flex ms-xxl-0 me-xxl-5 ps-xxl-0"><img
                            class="d-lg-flex justify-content-lg-start me-xxl-5 pe-xxl-0"
                            src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fclipboard-image.png?alt=media&token=cd7b240e-1dc3-4b6f-a2f0-b90620001add.png"
                            width="111" height="69">Escuchamos
                        y<br>&nbsp;atendemos&nbsp;</h4>
                    <div class="px-3">
                        <p><span style="font-size: 1.5em;">✓</span> Escuchamos todos los inconvenientes que tiene
                            nuestros clientes frente a su vehículo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-content-center">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <h4 class="me-xxl-0 ps-xxl-0"><img
                            src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fclipboard-image-1.png?alt=media&token=c164c118-ff0c-433a-80c7-b0b2b2ec666b.png"
                            width="99" height="99">Analizamos</h4>
                    <div class="px-3">
                        <p><span style="font-size: 1.5em;">✓</span>El asesor asigna a los tecnicos especializados de
                            acuerdo a los incovenientes presentados por
                            el cliente y la hipotesis del mismo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-content-center">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <h4><img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fclipboard-image-2.png?alt=media&token=a8ff5a75-7e15-4031-ada5-751a793d95f2.png"
                            width="139" height="100">Cotizamos</h4>
                    <div class="px-3 text-center">
                        <ul style="list-style: none; padding: 0;">
                            <li><span style="font-size: 1.5em;">✓</span> De acuerdo a las pruebas realizadas, el
                                asesor
                                realiza la cotización.</li>
                            <li><span style="font-size: 1.5em;">✓</span> De acuerdo a la información obtenida por el
                                scanner, las pruebas mecánicas realizadas o el diagnóstico de falla.</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div
                class="col-md-3 col-lg-4 d-lg-flex align-content-center mx-auto justify-content-lg-center align-items-lg-center">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <h4><img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fclipboard-image-3.png?alt=media&token=ff84c240-0f32-45c1-bb7e-c219e430e687.png"
                            width="92" height="85">Seguimiento</h4>
                    <div class="text-center px-3">
                        <ul style="list-style: none; padding: 0;">
                            <li><span style="font-size: 1.5em;">✓</span> Se procede a realizar el trabajo realizado
                            </li>
                            <li><span style="font-size: 1.5em;">✓</span> Se establece fechas límite de entrega</li>
                            <li><span style="font-size: 1.5em;">✓</span> Asimismo, el asesor encargado se comunica
                                con
                                el cliente periódicamente para informar el avance del vehículo</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div
                class="col-md-3 col-lg-4 d-lg-flex align-content-center mx-auto justify-content-lg-center align-items-lg-center">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <h4><img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fclipboard-image-4.png?alt=media&token=121b653d-5a08-4ac0-932c-7232fa0da153.png"
                            width="119" height="74">Entrega</h4>
                    <div class="px-3">
                        <p><span style="font-size: 1.5em;">✓</span>Después de realizado las pruebas correspondientes
                            del
                            vehículo se procede a lavado del
                            vehículo y posterior entrega al cliente&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container ms-xxl-3" style="background: #D42025; height: 352px; padding-bottom: 8px;">
    <h1 style="color: rgb(255,255,255); font-weight: bold; text-align: center;">Nuestros Servicios</h1>
    <div class="slider-container">
        <div class="slider">
            @foreach (var servicio in Model)
            {
                <div class="slide">
                    <img src="@servicio.ser_img2" alt="@servicio.ser_nombre" width="259" height="194">
                    <p style="color: rgb(255,255,255); font-weight: bold;">@servicio.ser_nombre</p>
                </div>
            }
        </div>
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
    </div>
</div>

    <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fasdsa.png?alt=media&token=fd6bcbec-8bdf-4971-bde3-52be968274e1"
        style="float:right; width: 100%; height: 100%;">

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

<script>
    const slider = document.querySelector('.slider');
    const slides = document.querySelectorAll('.slide');
    const prevButton = document.getElementById('prev');
    const nextButton = document.getElementById('next');

    let currentIndex = 0;

    function updateSlider() {
        slider.style.transform = `translateX(${-currentIndex * 256}px)`;
    }

    nextButton.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % slides.length;
        updateSlider();
    });

    prevButton.addEventListener('click', () => {
        currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        updateSlider();
    });
</script>