@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Términos y Condiciones - AUTOMOTRIZ MARIMON S.A.C";
}

<div class="container terminos-container">
    <div class="row">
        <div class="col-12">
            <div class="terminos-header">
                <h2 class="text-center">Términos y Condiciones</h2>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <div class="terminos-content">
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor 
                    incididunt ut labore et dolor"
                </p>
                
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor 
                    incididunt ut labore et dolor"
                </p>
                
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor 
                    incididunt ut labore et dolor"
                </p>
                
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor 
                    incididunt ut labore et dolor"
                </p>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>

        
        .terminos-container {
            padding: 50px 0;
            font-family: 'Nunito', sans-serif;
        }
        
        .terminos-header {
            background-color: #ed1c24;
            color: white;
            padding: 20px;
            border-radius: 5px 5px 0 0;
        }
        
        .terminos-header h2 {
            margin: 0;
            font-weight: bold;
        }
        
        .terminos-content {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .terminos-content p {
            margin-bottom: 25px;
            line-height: 1.6;
            color: #333;
        }
    </style>
}