@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmación de correo electrónico";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />


<div class="text-center mt-4">
    <p>Tu cuenta ha sido activada correctamente. Ahora puedes iniciar sesión con tus credenciales.</p>
</div>