@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Contraseña perdida";
}


<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-90">
        <div class="col-md-6 offset-md-3">
            <div class="text-center shadow-sm" style="border: 5px solid #ddd; border-radius: 10px; padding: 40px;">
                <h1 class="mb-4">@ViewData["Title"]</h1>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success success-message" role="alert"
                        style=" margin-top: 10px;transition: opacity 1s ease-out;">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <p class="mb-4">Se ha enviado un correo electrónico con las instrucciones para restablecer tu contraseña
                    a la dirección asociada a tu cuenta. Por favor, revisa tu bandeja de entrada. Si no encuentras el
                    correo, verifica en la carpeta de spam o correo no deseado. Recuerda que solo puedes solicitar un
                    restablecimiento de contraseña cada 10 minutos.</p>
            </div>
        </div>
    </div>
</div>