@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />

<div class="register_container">
    <div class="register_form">
        <h3>Crear Una Nueva Cuenta</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="input_box">
                <label asp-for="Input.Nombres">Nombres</label>
                <input asp-for="Input.Nombres" class="form-control" aria-required="true" placeholder="Nombres" />
                <span asp-validation-for="Input.Nombres" class="text-danger"></span>
            </div>

            <div class="input_box">
                <label asp-for="Input.Apellidos">Apellidos</label>
                <input asp-for="Input.Apellidos" class="form-control" aria-required="true" placeholder="Apellidos" />
                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
            </div>

            <div class="input_box">
                <label asp-for="Input.Email">Correo Electrónico</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                    placeholder="correo@ejemplo.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="input_box">
                <label asp-for="Input.Password">Contraseña</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="Contraseña" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="input_box">
                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    aria-required="true" placeholder="Confirmar contraseña" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit">Registrarse</button>

            <p class="sign_up">¿Ya tienes cuenta? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Iniciar
                    Sesión</a></p>
        </form>
    </div>

    <div class="register_image">
        <img src="~/images/register.jpg" alt="Imagen decorativa de registro" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
