@{
    Layout = "_LayoutServicio";
    ViewData["Title"] = "Módulo de Servicios - Administración";
}

<link href="/css/styleAdmin.css" rel="stylesheet" type="text/css">

<div class="admin-container">
    <!-- Contenido principal -->
    <main class="modulo-content">
        <div class="modulo-grid">
            <!-- Listar y agregar servicios en la misma vista -->
            <a href="@Url.Action("ConsultarServicios", "Personal_Servicio")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Ftrabajador-fabrica-caracter-masculino-gerente-linea-ensamblaje_1316704-8108.jpg?alt=media&token=540d0f52-91b9-4c6a-ae59-a2be20a48eb3.jpg"
                            alt="Servicios">
                    </div>
                    <div class="card-footer">
                        <span>CONSULTAR RESERVA DE SERVICIOS</span>
                    </div>
                </div>
            </a>
            <!-- Listar Servicios -->
            <a href="@Url.Action("LServicio", "Personal_Servicio")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="https://fleethub.de/wp-content/uploads/2020/10/Wartung.png" alt="Listar Servicios">
                    </div>
                    <div class="card-footer">
                        <span>SERVICIOS</span>
                    </div>
                </div>
            </a>

            <a href="#" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="https://png.pngtree.com/png-vector/20220624/ourmid/pngtree-simple-line-icon-set-of-factory-for-website-mobile-app-and-png-image_5328149.png"
                            alt="Orden de trabajo automotriz"
                            style="object-fit: contain; max-height: 150px; margin: 0 auto; display: block;">
                    </div>
                    <div class="card-footer">
                        <span>ORDEN DE TRABAJO</span>
                    </div>
                </div>
            </a>

            <!-- Reportes -->
            <a href="@Url.Action("Reportes", "Personal_Servicio")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="~/images/reporte_servicios.jpg" alt="Reportes">
                    </div>
                    <div class="card-footer">
                        <span>REPORTES DE SERVICIOS</span>
                    </div>
                </div>
            </a>
        </div>
    </main>
</div>