@{
    Layout = "_LayoutServicio"; 
    ViewData["Title"] = "Módulo de Servicios - Administración";
}

<link href="/css/styleAdmin.css" rel="stylesheet" type="text/css">

<div class="admin-container">
    <!-- Contenido principal -->
    <main class="modulo-content">
        <div class="modulo-grid">
            <!-- Listar Servicios -->
            <a href="@Url.Action("LServicio", "Personal_Servicio")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2F7482.jpg?alt=media&token=f7b9774c-e2ec-487a-8c50-6b7462e90168.jpg" alt="Listar Servicios">
                    </div>
                    <div class="card-footer">
                        <span>SERVICIOS</span>
                    </div>
                </div>
            </a>

            <!-- Listar y agregar servicios en la misma vista -->
            <a href="@Url.Action("ConsultarServicios", "Personal_Servicio")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Ftrabajador-fabrica-caracter-masculino-gerente-linea-ensamblaje_1316704-8108.jpg?alt=media&token=540d0f52-91b9-4c6a-ae59-a2be20a48eb3.jpg" alt="Servicios">
                    </div>
                    <div class="card-footer">
                        <span>CONSULTAR SERVICIOS</span>
                    </div>
                </div>
            </a>

            <!-- Gestionar Servicio -->
            <div class="modulo-item">
                <div class="card-content flujo-section">
                    <a href="#" class="flujo-column-link">
                        <div class="flujo-column">
                            <div class="flujo-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fclipboard-image-1.png?alt=media&token=c164c118-ff0c-433a-80c7-b0b2b2ec666b.jpg" alt="Modificar" class="small-icon">
                            </div>
                            <div class="flujo-badge-container">
                                <span class="flujo-badge entrada">MODIFICAR</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="flujo-column-link">
                        <div class="flujo-column">
                            <div class="flujo-item">
                                <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2Fclipboard-image-3.png?alt=media&token=ff84c240-0f32-45c1-bb7e-c219e430e687.jpg" alt="Eliminar" class="small-icon">
                            </div>
                            <div class="flujo-badge-container">
                                <span class="flujo-badge salida">ELIMINAR</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-footer">
                    <span class="flujo-text">GESTIÓN DE SERVICIOS</span>
                </div>
            </div>

            <!-- Reportes -->
            <a href="@Url.Action("Reportes", "Personal_Servicio")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="~/images/estadistica.png" alt="Reportes">
                    </div>
                    <div class="card-footer">
                        <span>REPORTES DE SERVICIOS</span>
                    </div>
                </div>
            </a>
        </div>
    </main>
</div>