@model IEnumerable<Marimon.Models.Servicio>
@{
    Layout = "~/Views/Shared/_LayoutServicio.cshtml";
}

<link href="/css/personalservicio.css" rel="stylesheet" type="text/css">

<div class="container-fluid px-0">
    <div class="row bg-danger text-white py-2">
        <div class="col-12">
            <h2 class="mb-0 text-center" style="font-weight: bold;">LISTA DE SERVICIOS</h2>
        </div>
    </div>
    <div class="row align-items-center my-4 px-4">
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/marimonapp.appspot.com/o/Assest_web%2FServicios%2Fservicios-marimon-02.jpg?alt=media&token=c30ee586-a8e0-4ac0-be4e-cfa9a9adc4d7.jpg" alt="Servicios" class="img-fluid" style="max-height: 220px;" />
        </div>
        <div class="col-md-6">
            <p class="fs-4 fw-bold mb-2">
                Revisa y administra los servicios automotrices registrados. Mantén actualizada la información para ofrecer un mejor servicio a los clientes.
            </p>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-12">
            <table class="table table-bordered table-striped align-middle">
                <thead class="bg-black text-white">
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Nombre del Servicio</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var servicio in Model)
                        {
                            <tr>
                                <td>@servicio.ser_id</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(servicio.ser_imagen))
                                    {
                                        <img src="@servicio.ser_imagen" alt="Imagen Servicio"
                                            style="max-width: 60px; max-height: 60px;" />
                                    }
                                    else
                                    {
                                        <div class="bg-light border text-center" style="width:60px;height:60px;line-height:60px;">
                                            Sin<br />img</div>
                                    }
                                </td>
                                <td class="fw-bold">@servicio.ser_nombre</td>
                                <td>@servicio.ser_descripcion</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">No hay servicios registrados.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>