/* ======= HEADER MENU ======= */
header {
  z-index: 99;
  width: 100%;
  background: #e42229;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contenedor-menu {
  max-width: 1650px;
  padding: 0 30px;
  height: 65px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.logo-contenedor {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  height: 45px;
}

.titulo-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px; /* Espacio entre letras */
}

/* Cerrar sesión */
.logout-btn {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.logout-btn:hover {
  text-decoration: underline;
}

/*FOOTER*/
footer {
  margin-top: auto;
  background: #e42229;
  color: #ffffff;
  font-size: 14px;
}

.footer-content {
  max-width: 1650px;
  padding: 15px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

.footer-right {
  text-align: right;
}
.success-message {
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 1050;
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.success-message .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.success-message.hide {
  opacity: 0;
  transform: translateY(20px);
}
.btn-primary {
    background-color: #E42229 !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 10px 20px !important;
    color: white !important;
    font-weight: 500 !important;
    transition: all 0.3s ease !important;
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
    outline: none !important;
    box-shadow: none !important;
}